---
import type { SkillsSection } from '@/types/sections/skills-section.types';
import SectionHeading from '../components/section-heading.astro';

export interface Props extends SkillsSection {}

const { config, skillSets } = Astro.props;
---

<div>
  <SectionHeading>{config.title}</SectionHeading>
  <div class="flex flex-col gap-5">
    {
      skillSets.map((skillSet, index) => (
        <div>
          <div class="text-base font-bold text-gray-900">{skillSet.title}</div>
          <div class="mt-2 flex flex-wrap text-sm text-gray-700">
            {skillSet.info && <p class="font-medium">{skillSet.info}</p>}
            {skillSet.skills.map((skill, skillIndex) => {
              const isLastSkill = skillIndex === skillSet.skills.length - 1;
              return (
                <div class="flex items-center" key={skillIndex}>
                  <p class="font-medium">{skill.name}</p>
                  {!isLastSkill && <p class="pr-1">,</p>}
                </div>
              );
            })}
          </div>
        </div>
      ))
    }
  </div>
</div>
